@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,600');
$background-orange: #FE802FCC;
$background-orange-faded: transparentize(#FE802F, .3);
$background-blue-alt: #9DDAFC;
$background-purple-alt: #FE80ee85;
$display: #113B51;
$button: #477187;
$button-alt: #FE802F;
$button-text: #FAE25D;
$whiteish: #E2E2E2;
// $black: #1c1c1c;
// $dark-grey: #525258;
.wrapper {
  background: $background-orange-faded;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  font-family: 'Assistant', sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  max-width: 220px;
  margin: auto;
  .display {
    flex: 1 1 100%;
    height: 80px;
    background: $display;
    color: $whiteish;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 15px;
    .helper-display {
      flex: 1 1;
      padding-top: 10px;
      font-size: 1.1em;
    }
    .main-display {
      flex: 2 1;
      padding-top: 8px;
      font-size: 2em;
      &.answer {
        font-weight: 600;
      }
    }
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    button {
      font-family: 'Assistant', sans-serif;
      font-weight: 300;
      flex: 1 1 25%;
      border: none;
      height: 45px;
      background: $button;
      color: $button-text;
      transition: 0.4s ease;
      &:hover {
        background: $display;
      }
      &.num {
        color: $whiteish;
      }
      &.double {
        flex: 1 1 50%;
      }
    }
  }
}